.kotak1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    z-index: 1;
}

.kotak2{
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    z-index: 3;
}

.kotak3{
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    bottom: 300px;
    z-index: 2;
}
