.kotak{
    height: 300px;
    width: 300px;
    background-color: indianred;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 50px solid magenta;
    border-top: 50px solid grey;
    border-radius: 100%;
    animation: animasi 2s linear infinite;

}
@keyframes animasi {
    0% {
        color: aqua;
        font-size: 20px;
        background-color: maroon;
        transform: translateX(0px) rotate(90deg);
      }
      25% {
        color: blueviolet;
        font-size: 40px;
        background-color: cadetblue;
        transform: translateY(25px) rotate(0deg);
      }
      50% {
        color: darkcyan;
        font-size: 60px;
        background-color: chartreuse;
        transform: translateX(50px) rotate(0deg);
      }
      75% {
        color: yellowgreen;
        font-size: 40px;
        background-color: brown;
        transform: translateY(75px) rotate(0deg);
      }
      100% {
        color: rgb(153, 119, 119);
        font-size: 20px;
        background-color: lightsalmon;
        transform: translateX(0px) rotate(90deg);
      }
    }
    

    p{
       color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        animation: loading 2s linear infinite;
    
    }
    @keyframes loading {
        0% {
            color: aqua;
            font-size: 50px;
           
         
          }
          50% {
            color: darkcyan;
            font-size: 50px;
          }
    
          100% {
            color: rgb(153, 119, 119);
            font-size: 50px;
          }
        }
        @keyframes animasi1 {
          0% {
            transform: rotate(0deg);
          }
        
          100% {
            transform: rotate(360deg);
          }
        }
        